/* @media screen and (max-width:1000px) {
    body {
        background-color: wheat;
    }

    nav {
        flex-direction: column;
    }

    nav ul {
      
    }

    .bar {
       margin: 2px 5px;
    }
} */